body {
    background-color: whitesmoke;
}



h1{
    color: red;
}

div {
    background-color: grey;
}

.recuadros {
    border: 2px solid black;
}

.cabecera1 {
    color: blue;
    text-align: center;
}

.cabecera2 {
    color: green;
    text-align: center;
}

span{
    text-decoration: underline;
}



